.bka-text-btn {
  background: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
  padding: 0 6px;
  margin: 0 12px;
}

.bka-text-btn-blue {
  color: var(--nCyan);
  &:hover {
    text-shadow: 0 0 6px var(--nCyanAlpha);
  }
}

.bka-text-btn-red {
  color: var(--candy);
  &:hover {
    text-shadow: 0 0 6px var(--candyAlpha);
  }
}

.bka-text-btn-purple {
  color: var(--nPurple);
  &:hover {
    text-shadow: 0 0 6px var(--nPurpleAlpha);
  }
}

.bka-text-btn-green {
  color: var(--lime);
  &:hover {
    text-shadow: 0 0 6px var(--limeAlpha);
  }
}