.bka-label {
  display: block;
  font-size: .9rem;
  margin-bottom: 4px;
  width: 100%;
}

.bka-form-element {
  background-color: var(--baseBg);
  border: 1px solid var(--textPrimary);
  border-radius: 4px;
  color: var(--textPrimary);
  font-weight: 500;
  outline: transparent;
  padding: 6px 10px;
}

.bka-form-element-full {
  width: 100%;
  display: block;
  margin-bottom: 6px;
}

.bka-select {
  color: var(--nBlue);
  font-weight: 600;
}

.bka-textarea {
  min-height: 48px;
}