.button-base {
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  outline: transparent;
  margin-right: 16px;
  padding: 4px 12px 5px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:disabled {
    background-color: #32505066;
    border: 1px solid #32505099;
    cursor: default;
    color: #325050dd;
  }
}

.button-small {
  font-size: 12px;
  padding: 2px 8px;
}

.button-last {
  margin-right: 0;
}

.button-blue {
  border: 1px solid var(--nCyan);
  color: var(--nCyan);

  &:hover:enabled {
    background-color: var(--nCyan);
    color: var(--baseBg);
  }
}

.button-green {
  border: 1px solid var(--lime);
  color: var(--lime);

  &:hover:enabled {
    background-color: var(--lime);
    color: var(--baseBg);
  }
}

.button-red {
  border: 1px solid var(--candy);
  color: var(--candy);

  &:hover:enabled {
    background-color: var(--candy);
    color: var(--textPrimary);
  }
}

.button-yellow {
  border: 1px solid var(--yellow);
  color: var(--yellow);

  &:hover:enabled {
    background-color: var(--yellow);
    color: var(--baseBg);
  }
}

.button-purple {
  border: 1px solid var(--nPurple);
  color: var(--nPurple);

  &:hover:enabled {
    background-color: var(--nPurple);
    color: var(--textPrimary);
  }
}

.button-grey {
  border: 1px solid var(--slate);
  color: var(--slate);

  &:hover:enabled {
    background-color: var(--slate);
    color: var(--baseBg);
  }
}
