.button-base {
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: transparent;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  min-width: 80px;
  padding: 6px 12px;
  margin-right: 16px;

  &:disabled {
    background-color: #32505066;
    border: 1px solid #32505099;
    box-shadow: none;
    cursor: default;
    color: #325050dd;
  }
}

.button-small {
  min-width: 60px;
  padding: 4px 8px;
  font-size: 13px;
}

.button-last {
  margin-right: 0;
}

.button-blue {
  background-color: transparent;
  border: 1px solid var(--nCyan);
  box-shadow: 4px 4px 4px var(--nCyan);
  color: var(--nCyan);

  &:hover:enabled {
    background-color: var(--nCyan);
    color: #fff;
    box-shadow: 4px 4px 4px var(--nCyanAlpha);
  }
}

.button-green {
  background-color: transparent;
  border: 1px solid var(--lime);
  box-shadow: 4px 4px 4px var(--lime);
  color: var(--lime);

  &:hover:enabled {
    background-color: var(--lime);
    color: #0d0a14;
    box-shadow: 4px 4px 4px var(--limeAlpha);
  }
}

.button-red {
  background-color: transparent;
  border: 1px solid var(--candy);
  box-shadow: 4px 4px 4px var(--candy);
  color: var(--candy);

  &:hover:enabled {
    background-color: var(--candy);
    color: #fff;
    box-shadow: 4px 4px 4px var(--candyAlpha);
  }
}

.button-yellow {
  background-color: transparent;
  border: 1px solid var(--yellow);
  box-shadow: 4px 4px 4px var(--yellow);
  color: var(--yellow);

  &:hover:enabled {
    background-color: var(--yellow);
    color: #000;
    box-shadow: 4px 4px 4px var(--yellowAlpha);
  }
}

.button-lime {
  background-color: transparent;
  border: 1px solid var(--lime);
  box-shadow: 4px 4px 4px var(--lime);
  color: var(--lime);

  &:hover:enabled {
    background-color: var(--lime);
    color: #0d0a14;
    box-shadow: 4px 4px 4px var(--limeAlpha);
  }
}

.button-purple {
  background-color: transparent;
  border: 1px solid var(--nPurple);
  box-shadow: 4px 4px 4px var(--nPurple);
  color: var(--nPurple);

  &:hover:enabled {
    background-color: var(--nPurple);
    color: #fff;
    box-shadow: 4px 4px 4px var(--nPurpleAlpha);
  }
}

.button-grey {
  background-color: transparent;
  border: 1px solid var(--slate);
  box-shadow: 4px 4px 4px var(--slate);
  color: var(--slate);

  &:hover:enabled {
    background-color: var(--slate);
    color: #000;
    box-shadow: 4px 4px 4px var(--slateAlpha);
  }
}
