:root {
  /* dark theme palette */
  --baseBg: #0d0a14;
  --surface: #1a0f2e;
  --textPrimary: #f0e6ff;
  --textMuted: #c4b5fd;

  /* main colors */
  --candy: #e22c5a;
  --candyAlpha: #e22c5a77;
  --candyBorder: #e22c5a4d;
  --candyFaint: #e22c5a19;

  --nCyan: #00e5ff;
  --nCyanAlpha: #00e5ff77;
  --nCyanBorder: #00e5ff4d;
  --nCyanFaint: #00e5ff19;

  --lime: #51cb20;
  --limeAlpha: #51cb2077;
  --limeBorder: #51cb204d;
  --limeFaint: #51cb2019;

  --nPurple: #bc13fe;
  --nPurpleAlpha: #bc13fe77;
  --nPurpleBorder: #bc13fe4d;
  --nPurpleFaint: #bc13fe19;

  --slate: #69747c;
  --slateAlpha: #69747c77;
  --slateBorder: #69747c4d;
  --slateFaint: #69747c19;

  /* basic colors */
  --blue: #0000ff;
  --red: #ff0000;
  --yellow: #ffff00;
  --orange: #ffa500;
  --purple: #800080;
  --green: #009400;

  /* button colors */
  --dodgerblue: #1e90ff;
  --dodgerblueAlpha: #1e90ff77;
  --greenAlpha: #00940077;
  --yellowAlpha: #ffff0077;
  --purpleAlpha: #80008077;
  --indigo: #4b0082;
  --indigoAlpha: #4b008277;

  /* neon colors */
  --nBlue: #4666ff;
  --nRed: #f2003c;
  --nYellow: #ccff00;
  --nOrange: #ff9933;
  --nPurple: #bc13fe;
  --nGreen: #39ff14;

  /* other colors I like */
  --rose: #f72585;
  --carrot: #f18f01;
  --dukeblue: #03045e;
  --darkpurple: #37123c;
  --blood: #890000;
  --rosewood: #6b0f1a;
  --cardinal: #c41e3a;
  --flashwhite: #edf1f5;
  --sky: #4cc9f0;

  /* VS Code colors */
  --functions: #cff1ff;
  --comments: #818181;
  --keywords: #9f56c0;
  --numbers: #bcc794;
  --strings: #8febc6;
  --types: #41ffd0;
  --variables: #78d9ff;
  --const: #5d8bec;
}
