.bka-card {
  background-color: var(--surface);
  border: 1px solid var(--nPurpleBorder);
  border-radius: 8px;
  box-shadow: 0 0 24px var(--nPurpleBorder);
  font-weight: 700;
  padding: 36px;
  padding-top: 24px;
  text-align: center;

  & > h2:first-of-type {
    margin-bottom: 12px;
  }
}

.bka-card-heading--sm {
  font-size: 18px;
}

.bka-card-heading--md {
  font-size: 24px;
}

.bka-card-heading--lg {
  font-size: 30px;
}
