.bka-card {
  background-color: var(--surface);
  border: 1px solid var(--nPurpleBorder);
  border-radius: 8px;
  box-shadow: 0 0 24px var(--nPurpleBorder);
  padding: 36px;
  padding-top: 24px;

  & > h2:first-of-type {
    margin-bottom: 12px;
    font-weight: 700;
    text-align: center;
  }
}

.bka-card-heading--sm {
  font-size: 18px;
}

.bka-card-heading--md {
  font-size: 24px;
}

.bka-card-heading--lg {
  font-size: 30px;
}

.bka-item-card {
  background-color: var(--surface);
  border: 1px solid var(--nPurpleBorder);
  border-radius: 8px;
  padding: 16px;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid var(--nPurple);
    background-color: var(--nPurpleFaint);
    box-shadow: 0 0 10px var(--nCyanBorder);
  }
}

.bka-item-card-pointer {
  cursor: pointer;
}
