.bka-modal-fade-in {
  animation-duration: 0.2s;
  animation-name: fadein;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1 }
}

.bka-modal-wrapper {
  background-color: #0d0a14d9; /** baseBg semi-transparent */
  cursor: default;
  display: flex;
  min-height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.bka-modal-body {
  background: var(--surface);
  border: 1px solid var(--nPurple);
  box-shadow: 2px 2px 6px #000,
    4px 4px 12px #666,
    6px 6px 18px #666,
    inset -2px -2px 6px var(--nPurple),
    inset 2px 2px 6px var(--nPurple);
  border-radius: 12px;
  font-size: 1.2rem;
  margin: auto;
  max-width: 60%;
  min-width: 300px;
  padding: 0;
  position: relative;
  z-index: 9999;

  & > img {
    border: 1px solid black;
  }
}

.bka-modal-x-btn {
  background-color: transparent;
  border: none;
  color: var(--textPrimary);
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  outline: transparent;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 16px;

  &:hover {
    color: var(--textPrimary);
  }
}