.bka-transparent-btn {
  background: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 0 6px;
  margin: 0 12px;
  text-shadow: 0 0 1px var(--dodgerblue),
    0 0 2px var(--dodgerblue),
    0 0 3px var(--dodgerblue),
    2px 3px 5px var(--dodgerblue);
  transition: color 0.12s ease-in-out, text-shadow 0.12s ease-in-out, transform 0.12s ease-in-out;
  &:hover {
    color: var(--dodgerblue);
    text-shadow: 4px 4px 4px #666;
    transform: translate(-1px, -1px);
  }
}

.bka-transparent-btn-red {
  text-shadow: 0 0 1px var(--candy),
    0 0 2px var(--candy),
    0 0 3px var(--candy),
    2px 3px 5px var(--candy);
  &:hover {
    color: var(--candy);
  }
}

.bka-transparent-btn-green {
  text-shadow: 0 0 1px var(--green),
    0 0 2px var(--green),
    0 0 3px var(--green),
    2px 3px 5px var(--green);
  &:hover {
    color: var(--green);
  }
}

.bka-transparent-btn-indigo {
  text-shadow: 0 0 1px var(--indigo),
    0 0 2px var(--indigo),
    0 0 3px var(--indigo),
    2px 3px 5px var(--indigo);
  &:hover {
    color: var(--indigo);
  }
}