.bka-transparent-btn {
  background: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
  padding: 0 6px;
  margin: 0 12px;
  transition: color 0.12s ease-in-out, text-shadow 0.12s ease-in-out, transform 0.12s ease-in-out;
}

.bka-transparent-btn-blue {
  text-shadow: 0 0 1px var(--nCyanAlpha),
    0 0 2px var(--nCyanAlpha),
    0 0 3px var(--nCyanAlpha),
    2px 3px 5px var(--nCyanAlpha);
  color: var(--nCyan);
  &:hover {
    color: var(--textPrimary);
  }
}

.bka-transparent-btn-red {
  text-shadow: 0 0 1px var(--candyAlpha),
    0 0 2px var(--candyAlpha),
    0 0 3px var(--candyAlpha),
    2px 3px 5px var(--candyAlpha);
  color: var(--candy);
  &:hover {
    color: var(--textPrimary);
  }
}

.bka-transparent-btn-green {
  text-shadow: 0 0 1px var(--limeAlpha),
    0 0 2px var(--limeAlpha),
    0 0 3px var(--limeAlpha),
    2px 3px 5px var(--limeAlpha);
  color: var(--lime);
  &:hover {
    color: var(--textPrimary);
  }
}

.bka-transparent-btn-purple {
  text-shadow: 0 0 1px var(--nPurpleAlpha),
    0 0 2px var(--nPurpleAlpha),
    0 0 3px var(--nPurpleAlpha),
    2px 3px 5px var(--nPurpleAlpha);
  color: var(--nPurple);
  &:hover {
    color: var(--textPrimary);
  }
}